
<form #goalForm='ngForm' (ngSubmit)='submit()'>
<label>Name : </label><br><br><input type="text" class="entry" [(ngModel)]="newquote.Username" name="name"><br>
<label>Author : </label><br><br><input type="text" class="entry" [(ngModel)]="newquote.author" name="author"><br>
<label>Quote : </label><br><br><input type="text" class="entry" [(ngModel)]="newquote.userquote" name="quote"><br><br>
<label>Date submitted :</label><br><br><input type="date" class="entry" [(ngModel)]="newquote.submit" name="date"><br><br>
<button type="submit" class="btn btn-success">Submit</button>
</form>
